<!DOCTYPE html>
<html lang="nl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yvovit | Uw Leefstijl Coach</title>
    <link rel="icon" type="image/x-icon" href="{% static 'IM/logo_blue.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'CS/Blog_styles.css' %}">    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'IM/Logo.jpg' %}" alt="Yvonne Aaldering" class="yvofit-logo">
            </div>
            <ul class="nav-menu">
                <li><a class="nav-link" href="{% url 'base_view' %}">HOME</a></li>
                <li><a class="nav-link" href="{% url 'about_view' %}">DIENSTEN</a></li>
                <li><a class="nav-link" href="{% url 'blog_view' %}">BLOG</a></li>
                <li><a class="contact-btn" href="{% url 'contact_view' %}">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-about">
        <div class="text-section">
            <h2>Blog</h2>
            <h1>Mijn laatste vitaliteitsberichten</h1>
            <p>Als leefstijlcoach help ik mensen graag stap voor stap naar een gezondere leefstijl. Daarbij lever ik maatwerk en kijken we bewust naar haalbare doelen op het gebied van voeding, beweging, stress, slaap of ontspanning.</p>
        </div>
        <div class="image-section">
            <img src="{% static 'IM/Yvofit-Transparant-Klein-9-1.png' %}" alt="Yvonne Transparant" class="yvofit-Transparant">
        </div>
    </div>
    <div class="text-header">
        <h2>Dagelijks houd ik me bezig met het coachen, motiveren, trainen en begeleiden van mensen om zo het beste resultaat te behalen.</h2>
    </div>
    <div class="container_card">
        <div class="row">
            {% for mymodel in mymodels %}
                <div class="section_card">
                    <div class="card">
                        {% if mymodel.image %}
                            <img src="{{ mymodel.image.url }}" class="card-img-top" alt="{{ mymodel.title }}">
                        {% else %}
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="No image available">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ mymodel.title }}</h5>
                            <p class="card-text">{{ mymodel.description }}</p>
                            <p class="card-date">{{ mymodel.date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container_contact">
        <div class="container_contact_inner">
            <div class="left_section">
                <ul>
                    <li><a class="nav-link" href="{% url 'base_view' %}">HOME</a></li>
                    <li><a class="nav-link" href="{% url 'about_view' %}">DIENSTEN</a></li>
                    <li><a class="nav-link" href="{% url 'blog_view' %}">BLOG</a></li>
                    <li><a class="nav-link" href="{% url 'contact_view' %}">CONTACT</a></li>
                </ul>
            </div>
            <div class="middle_section">
                <h2>Diensten</h2>
                <ul>
                    <li><a class="nav-link" href="{% url 'about_view' %}">VITALE WERKOMGEVING!</a></li>
                    <li><a class="nav-link" href="{% url 'about_view' %}">PERSOONLIJKE COACHING MEDEWERKERS</a></li>
                    <li><a class="nav-link" href="{% url 'about_view' %}">VITALITEITS TRAININGEN VOOR GROEPEN</a></li>
                </ul>
            </div>
            <div class="right_section">
                <h2><i aria-hidden="true" class="fas fa-phone-alt"></i>0499-396985</h2>
                <h2><i aria-hidden="true" class="fas fa-phone-alt"></i>06-10792050</h2>
                <h2>
                    <a href="mailto:yvonne@yvofit.nl"><i class="far fa-envelope"></i> yvonne@yvofit.nl</a>
                </h2>
                <div class="social_media_section">
                    <p>VOLG YVOFIT OP SOCIAL MEDIA</p>
                    <ul>
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-youtube"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>  
                </div>
            </div>
        </div>
    </div>
</body>
</html>