<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yvovit | Uw Leefstijl Coach</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">


    {% load static %}
    <link rel="stylesheet" href="{% static 'CS/Home_styles.css' %}">    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'IM/Logo.jpg' %}" alt="Yvonne Aaldering" class="yvofit-logo">
            </div>
            <ul class="nav-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">OVER MIJ</a></li>
                <li><a href="#">DIENSTEN</a></li>
                <li><a href="#">THEMA'S</a></li>
                <li><a href="#">VITALITEIT CHECK</a></li>
                <li><a href="#">NIEUWS</a></li>
                <li><a href="#" class="contact-btn">CONTACT</a></li>
            </ul>
        </nav>
    </header>   
        <div class="container">
            <div class="left-section">
                <h2>Ik ben Yvonne Aaldering</h2>
                <p>Heb jij een hoog ziekteverzuim, daardoor productie verlies, hoge verzuimkosten en extra belasting van je medewerkers hierdoor?</p>
                <p>Weet jij niet hoe je je verzuim omlaag kan brengen door meer vitaliteit bij je werknemers? Graag help ik jouw medewerkers stap voor stap naar een gezondere leefstijl.</p>
                <p>Hoe zou het voor je zijn als jouw medewerkers zich vitaler, weerbaarder voelen, minder werkstress en meer werkplezier ervaren en daardoor het verzuim omlaag gaat.</p>
                <p>Bekijk eens hoeveel kosten je daarmee kan besparen op jaarbasis. Een zieke medewerker kost al gauw 7000 per maand.</p>
                <p>Mijn kracht zit in het praktisch meedenken welke adviezen en acties bij jouw bedrijf passen. Zodat het op de lange termijn ook werkt en vol te houden is.</p>
                <button class="appointment-btn">Maak een afspraak</button>
                <p class="small-text">Plan een vrijblijvend 30 minuten inspiratiegesprek.</p>
            </div>
            <div class="right-section">
                <h3>Uw leefstijl coach voor een vitale werkomgeving</h3>
                <img src="{% static 'IM/yvofit-home-2.png' %}" alt="Yvonne Aaldering" class="yvonne-image">
            </div>
        </div>
        <div class="container_scroll">
                <h2 class="Big_text_scroll">Dagelijks houd ik me bezig met het coachen, motiveren, trainen en begeleiden van werknemers en managers bij bedrijven. Voor meer vitaliteit op de werkvloer.</h2>
        </div>
        <div class="container_mij">
            <div class="left-section_mij">
                <img src="{% static 'IM/yvofit-fruitschaal.jpg' %}" alt="Yvonne" class="yvofit-fruitschaal">
                <img src="{% static 'IM/zwembad-dolfijn.jpeg' %}" alt="Yvonne" class="zwembad-dolfijn">
            </div>
            <div class="right-section_mij">
                <h3 class="title-overmij">Over mij</h3>
                <h2 class="subtitle-overmij">Persoonlijk betrokken en altijd maatadvies wat bij jouw past!</h2>
                <p class="mij-text">Ik ben Yvonne Aaldering. Mijn missie en passie is om jouw werknemers vitaler te maken en te coachen naar een gezondere versie van zichzelf.</p>
                <p class="mij-text">Inmiddels heb ik in de afgelopen 20 jaar meer dan 3000 mensen geholpen naar een gezondere leefstijl.</p>
                <p class="mij-text">Sinds een jaar deel ik mijn jarenlange ervaring en kennis en ook via mijn podcast en You-tube kanaal.</p>
                <p class="mij-text">Bij mij weet je altijd waar je aan toe bent, want ik houd van duidelijkheid en eerlijkheid.</p>
                <p class="mij-text">Soms kan dit confronterend zijn, maar altijd met de juiste intentie om jouw verder te helpen met jouw haalbaar doel. En als je dat doel bereikt is dat “de kers op de taart” want daar doe ik het voor.</p>
                <p class="mij-text">Gezondheid en gezonde leefstijl hebben altijd mijn interesse gehad. Ik heb dit met de paplepel ingegoten gekregen van mijn moeder die altijd bezig was met gezonde voeding. Zij had een eigen moestuintje, wilde puur natuur eten en was nooit een voorstander van pakjes/zakjes chemische voeding en medicatie. Zij wilde het liever met natuurlijke middelen en voeding oplossen. Leefstijl als medicijn is ook mijn motto!</p>
                <button class="mij-btn">Lees Meer</button>
            </div>
        </div>
        <div class="bottem-section_werkdruk">
            <img src="{% static 'IM/Yvofit-bank.png' %}" alt="Yvonne" class="yvofit-bank">
        </div>
        <div class="card">
            <div class="content">
                <h1>Werkdruk en werkstress</h1>
                <p>Zorgen vaak voor minder productiviteit, meer prikkelbaarheid en meer verzuim. Oorzaak kan zowel door het werk als door privé factoren komen. Samen met de medewerker bekijk ik welke praktische oplossingen helpend kunnen zijn zodat de medewerker zo optimaal mogelijk kan presteren.</p>
                <a href="#" class="button">Lees Meer</a>
            </div>
            <div class="indicator">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <h1 class="subtitle-vitaliteits">Mijn laatste vitaliteitsberichten</h1>
        <div class="content-wrapper_bericht">
            <div class="content-box_bericht">
                <img src="{% static 'IM/paddestoel.png' %}" alt="Herfst image" class="content-image_bericht">
                <h2>Herfst 🍁 Zeer positief voor je gezondheid!!</h2>
                <p>8 verrassende positieve dingen die de herfst met je lichaam doet: Veel mensen voelen zich toch een beetje somber wanneer de blaadjes van de bomen...</p>
            </div>
        
            <div class="content-box_bericht">
                <img src="{% static 'IM/duwen.png' %}" alt="Podcast image" class="content-image_bericht">
                <h2>Podcast #123</h2>
                <p>Plaats het artikel hier</p>
            </div>
        
            <div class="content-box_bericht">
                <img src="{% static 'IM/balen.jpg' %}" alt="Herfst or Winter image" class="content-image_bericht">
                <h2>Herfst of winterdip hoe ga je hier mee om?</h2>
                <p>Herken jij dat, je niet lekker in je vel zit, wat somberder, vermoeider, minder vrolijk, baal van het donkere weer, minder energie. Herken jij dat...</p>
            </div>
        </div>        
        <h2 class="customer-reviews-title">Wat zeggen klanten over mijn diensten?</h2>
        <h2 class="customer-reviews">Reviews</h2>
        <div class="reviews-wrapper">
            <div class="review-box-left">
                <p class="reviewer-name">John Doe</p>
                <p class="reviewer-feedback">
                    <span class="quote-icon">❞</span> Toen de keuringsarts constateerde dat mijn suiker te hoog was, besloot ik actie te ondernemen. Via mijn werkgever kreeg ik coaching van Sarah als vitaliteitscoach. Ik vond het lastig om mijn Bourgondische stijl te veranderen, maar door het enthousiasme en goede begeleiding van Sarah is het me toch gelukt! Eindresultaat, streefgewicht gehaald, bloeddruk omlaag, suikerwaardes flink verbeterd, conditie omhoog! Ik kan mijn schoenen weer op een normale manier dichtdoen 😋 <br> <em>– John, 45 jaar</em>
                </p>
            </div>
    
            <div class="review-box-right">
                <p class="reviewer-name">Jane Smith</p>
                <p class="reviewer-feedback">
                    <span class="quote-icon">❞</span> Mijn ervaringen met de coaching van Emily zijn fantastisch! Vanuit mijn werkgever kreeg ik de kans om aan een lifestyle-coachingtraject deel te nemen. De eerdere dietisten die ik had, werkten op dezelfde manier, maar Emily gaf me praktische tips en persoonlijke begeleiding. Ze weet de valkuilen en hoe je geestelijk tegenaan loopt. Ze helpt je op het juiste spoor en geeft je altijd dat beetje extra motivatie om vol te houden! 💪 <br> <em>– Jane, 39 jaar</em>
                </p>
            </div>
        </div>
    
        <section class="main-content">
            <h1>Nieuwsgierig geworden wat ik voor jouw bedrijf en medewerkers kan betekenen?</h1>
        </section>
    
        <!-- Contact Section -->
        <section class="contact-section">
            <div class="contact-info">
                <h2>Ja! Neem dan contact op voor de mogelijkheden</h2>
                <p>Ik neem zo spoedig mogelijk contact op en we bespreken de wensen en mogelijkheden, alles is mogelijk.</p>
            </div>
            <form action="#">
                <div class="form-group">
                    <label for="name">Naam *</label>
                    <input type="text" id="name" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefoon nr. *</label>
                    <input type="tel" id="phone" required>
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Bericht *</label>
                    <textarea id="message" required></textarea>
                </div>
                <button type="submit">Versturen</button>
            </form>
        </section>
        
 
              
</body>
</html>
