<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yvovit | Uw Leefstijl Coach</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CS/Contact_styles.css' %}">    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'IM/Logo.jpg' %}" alt="Yvonne Aaldering" class="yvofit-logo">
            </div>
            <ul class="nav-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">OVER MIJ</a></li>
                <li><a href="#">DIENSTEN</a></li>
                <li><a href="#">THEMA'S</a></li>
                <li><a href="#">VITALITEIT CHECK</a></li>
                <li><a href="#">NIEUWS</a></li>
                <li><a href="#" class="contact-btn">CONTACT</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>