<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yvovit | Uw Leefstijl Coach</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CS/Contact_styles.css' %}">    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'IM/Logo.jpg' %}" alt="Yvonne Aaldering" class="yvofit-logo">
            </div>
            <ul class="nav-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">OVER MIJ</a></li>
                <li><a href="#">DIENSTEN</a></li>
                <li><a href="#">THEMA'S</a></li>
                <li><a href="#">VITALITEIT CHECK</a></li>
                <li><a href="#">NIEUWS</a></li>
                <li><a href="#" class="contact-btn">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <div class="container_Header_vitaliteit">
        <div class="Header_vitaliteit_check">
            <h2>Vraag de gratis (online) vitaliteit check aan</h2>
        </div>
    </div>
    
    <div class="container_vitaliteit">
        <div class="left_section_vitaliteit">
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Naam" id="name" required>
                </div>
                <div class="form-group">
                    <input type="tel" placeholder="Telefoonnummer" id="phone" required>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" id="email" required>
                </div>
                <div class="form-group">
                    <textarea id="message" placeholder="Bericht" required></textarea>
                </div>
                <button type="submit">Versturen</button>
            </form>
        </div>
        <div class="right_section_vitaliteit">
            <h2>Wil jij meer vitaal zijn?</h2>
            <p><i aria-hidden="true" class="fas fa-check"></i> Voel je je vaak vermoeid?</p>
            <p><i aria-hidden="true" class="fas fa-check"></i> Zit je niet lekker in je vel?</p>
            <p><i aria-hidden="true" class="fas fa-check"></i> Merk je dat je niet uitgerust wakker wordt?</p>
            <p><i aria-hidden="true" class="fas fa-check"></i> Wil jij een aantal kilo afslanken?</p>
            <h1>Ik denk mee voor toepasbare tips om mee aan de slag te gaan gericht op meer vitaliteit voor jou.</h1>
        </div>    
    </div>
    <div class="Reviews_qoutes">
        <h2>Wat zeggen klanten over mijn diensten?</h2>
        <h1>Reviews</h1>
    </div>
    <div class="container_reviews">
        <div class="left_section_reviews">
            <h2>Busmaatschappij Arriva</h2>
            <div class="hr-lines"></div> <!-- Horizontal line added here -->
            <p><i aria-hidden="true" class="fas fa-quote-right"></i> Toen de keuringsarts constateerde dat mijn suiker te hoog was, besloot ik actie te ondernemen. Via mijn werkgever kreeg ik Yvonne als vitaliteitscoach. Ik vond het lastig om mijn bourgondische stijl te veranderen, maar door het enthousiasme en goede begeleiding van Yvonne is het me toch gelukt! Eindresultaat, streefgewicht gehaald, bloeddruk omlaag, suiker waardes flink verbeterd, conditie omhoog! Ik kan mijn schoenen weer op een normale manier dichtdoen 😜 Gerrit 64 jaar.</p>
        </div>
        <div class="right_section_reviews">
            <h2>Peter 62 jaar</h2>
            <div class="hr-lines"></div> <!-- Horizontal line added here -->
            <p><i aria-hidden="true" class="fas fa-quote-right"></i> Mijn ervaringen met Yvonne? Yvonne is een toppertje!! Vanuit mijn werkgever mocht ik mee doen met een lifestyle coaching traject. De 4 diëtisten die ik tot nu toe gehad heb, werken allemaal op dezelfde manier. Je krijgt papieren en een boekje. 1 x per maand wegen en meer niet. Yvonne niet, zij geeft jouw het gevoel er voor je te zijn, staat altijd klaar met persoonlijke tips. Weet de valkuilen en waar je geestelijk  tegenaan loopt. Ze weet je perfect op het goede spoor terug te brengen. Ook wist ze mij en mijn omgeving te stimuleren om door te gaan en er een schepje bovenop te doen.</p>
        </div>    
    </div>>    
    </div>
</body>
</html>