@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 1.8%;
    box-shadow: 0px 4px 2px -2px gray;    
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #28b487;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.contact-btn {
    background-color: #5a5a5a;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}
.intro {
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: #F4C37E;
}


.appointment-btn {
    background-color: #28b487;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
}

.yvofit-logo {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 175px; 
    height: auto;
}
.nav-menu{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    padding: 1%;
}

.container_Header_vitaliteit {
    width: 100%;
    height: 10%; 
    background-color: #F4C37E;
    padding: 1%;
    text-align: center;
    
}
.Header_vitaliteit_check h2 {
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 48px;
    line-height: 58px;
}

.container_vitaliteit {
    display: flex;
    background-color: #F4C37E;
    max-width: 100%;
    padding-bottom: 3%;

}

.left_section_vitaliteit {
    width: 100%;
    max-width: 30%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 1%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #F4F4F4;
    border-radius: 18px;
    font-size: 16px;
    background-color: #F4F4F4;
    transition: border-color 0.3s ease;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input:focus, 
textarea:focus {
    border-color: #39b54a;
    outline: none;
}

button {
    padding: 12px;
    background-color: #504538;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #34a045;
}

::placeholder {
    color: #AEA9A4;
}

.right_section_vitaliteit{
    margin-left: 3%;
   
}

.right_section_vitaliteit h2{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 42px;
}

.right_section_vitaliteit h1{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(255, 255, 255); 
    font-size: 18px;
    line-height: 33px;
    width: 60%;
}

.right_section_vitaliteit p{
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 33px;
    
}
.fas.fa-check {  
    color: #6ADAB4;    
    margin-right: 1%; 
}
.Reviews_qoutes h2 {
    font-family: Pacifico, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0); 
    font-size: 24px;
    line-height: 36px;
    margin-left: 20%;
    margin-top: 2%;
}
.Reviews_qoutes h1 {
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0); 
    font-size: 48px;
    line-height: 62px;
    margin-left: 20%;
}

.container_reviews {
    display: flex;
    max-width: 100%;
    margin-bottom: 5%;
}

.left_section_reviews{
    margin-left: 20%;
    max-width: 25%;
}

.right_section_reviews{
    margin-left: 3%;
    max-width: 25%;
}

.right_section_reviews h2{
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(204, 195, 194);
    font-size: 42px;
    line-height: 55px;
}

.left_section_reviews h2{
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(204, 195, 194);
    font-size: 42px;
    line-height: 55px;
}

.right_section_reviews p{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
}

.left_section_reviews p{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
}
.fas.fa-quote-right {  
    font-size: 25px;  
    color: #F4C37E;    
    margin-right: 1%; 
}
.hr-lines:after {
    content: " ";
    height: 2px;
    width: 130px;
    background: rgb(204, 195, 194);
    display: block;
}
.container_evaring {    
    background-color: #504538;
    width: 100%;
    display: flex;
}
.first_section h2 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 69px;
    line-height: 69px;
}

.first_section h1 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 19px;
    line-height: 48px;
}
.second_section h2 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 69px;
    line-height: 69px;
}

.second_section h1 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 19px;
    line-height: 48px;
}
.third_section h2 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 69px;
    line-height: 69px;
}

.third_section h1 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 19px;
    line-height: 48px;
}

.first_section{
    margin-left: 30%;
}

.second_section{
    margin-left: 10%;
}

.third_section{
    margin-left: 10%;
}
.Reviews_vitaliteit {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.Reviews_vitaliteit h2{
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 42px;
    line-height: 55px;
}
.Reviews_vitaliteit h1{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
    
}

.container_Inschrijven{
    margin-left: 33%;
}

.first_section_Inschrijven,
.second_section_Inschrijven,
.third_section_Inschrijven,
.fourth_section_Inschrijven {
    padding: 10px;
    border: 1px solid #F4F4F4;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    height: 10%;
    margin-top: 2%;
}

.first_section_Inschrijven h2,
.second_section_Inschrijven h2,
.third_section_Inschrijven h2,
.fourth_section_Inschrijven h2{
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    color: rgb(0, 0, 0);
}

.first_section_Inschrijven h1,
.second_section_Inschrijven h1,
.third_section_Inschrijven h1,
.fourth_section_Inschrijven h1{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: rgb(80, 69, 56);
}

a.Inschrijven_button {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #65D7B4;
    color: black; 
    text-decoration: none; 
    border-radius: 50px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center; 
    transition: background-color 0.3s ease; 
}

a.Inschrijven_button:hover {
    background-color: #52C4A2; 
}

a.check_button {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #65D7B4;
    color: black; 
    text-decoration: none; 
    border-radius: 50px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center; 
    transition: background-color 0.3s ease; 
    margin-top: 3%;
    margin-left: 45%;
    margin-bottom: 3%;
}

a.check_button:hover {
    background-color: #52C4A2; 
}

.container_contact {
    width: 100%;  
    background-color: #504538;
    color: #ffffff;
    padding-top: 2%;
}
.container_contact_inner{
    margin-left: 20%;
    display: flex;
    

}

.left_section, .middle_section, .right_section {
    margin-right: 10%;
    
    
}

.left_section a {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 18px;
    line-height: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: underline;
}

.middle_section h2 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 38px;
    line-height: 38px;
    margin-top: 2%;
}

.middle_section ul li {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(106, 218, 180);
    font-size: 16px;
    line-height: 30px;
}

.social_media_section ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.social_media_section ul li {
    margin-right: 15px;
}



.fa-facebook, .fa-instagram, .fa-youtube, .fa-linkedin {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #68C6B8; 
    border-radius: 50%; 
    color: black;
}
.fas.fa-phone-alt {  
    font-size: 25px;  
    color: #6ADAB4;    
    margin-right: 2%; 
}
.far.fa-envelope {  
    font-size: 25px;  
    color: #6ADAB4;    
}
.right_section {
    font-family: "Crimson Pro", sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    line-height: 25px; 
    color: rgb(255, 255, 255);
}
