<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yvovit | Uw Leefstijl Coach</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CS/About_styles.css' %}">    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'IM/Logo.jpg' %}" alt="Yvonne Aaldering" class="yvofit-logo">
            </div>
            <ul class="nav-menu">
                <li><a class="nav-link" href="{% url 'base_view' %}">HOME</a></li>
                <li><a class="nav-link" href="{% url 'about_view' %}">DIENSTEN</a></li>
                <li><a class="nav-link" href="{% url 'blog_view' %}">BLOG</a></li>
                <li><a class="contact-btn" href="{% url 'contact_view' %}">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-about">
        <div class="text-section">
            <h2>Diensten</h2>
            <h1>Ik ben Yvonne Aaldering, uw leefstijlcoach!</h1>
            <p>Uit onderzoek blijkt dat vitale medewerkers productiever en minder vaak ziek zijn.</p>
        </div>
        <div class="image-section">
            <img src="{% static 'IM/Yvofit-Transparant.png' %}" alt="Yvonne Transparant" class="yvofit-Transparant">
        </div>
    </div>
    <div class="elementor-widget-container">
        <h2>Binnen de huidige economie, met een groeiende werkdruk, wordt er meer gevraagd van werknemers. Het is van groot belang voor jou medewerkers om ook onder deze werkdruk gezond en vitaal te functioneren.
            Daarnaast zorgt aandacht voor vitaliteit voor een beter werkklimaat en minder verloop.
            Vitaliteit kan verhoogd worden door het versterken van de lichamelijk en fysieke gezondheid. Wil jij de vitaliteit in je organisatie verhogen neem dan contact mij op, dan bespreken we de mogelijkheden
            </h2>
    </div> 

    <div class="container-intrigeren">
        <div class="image-intrigeren">
            <img src="{% static 'IM/Yvofit-Klein.jpg' %}" alt="Yvofit Klein" class="Yvofit-Klein">
        </div>
        <div class="text-intrigeren">
            <h2>Vitaliteitscoaching voor medewerkers</h2>
            <h1>Persoonlijke ondersteuning in leefstijl</h1>
            <p>Heb je als werkgever gemerkt dat een medewerker wel wat ondersteuning kan gebruiken bij een gezonde leefstijl, bijvoorbeeld door inzichten uit een balans- of ontwikkelgesprek?<br><br> 
                Of misschien zie je dat verzuim een rol speelt en vermoed je dat leefstijl een factor is. Vanuit de AVG-wetgeving en je positie wil je wellicht niet te persoonlijk betrokken zijn bij de gezondheid en leefstijl van je medewerkers. <br><br> 
                Hier kan ik, als onafhankelijk vitaliteitscoach, van meerwaarde zijn. Ik bied persoonlijke coaching op alle leefstijlgebieden, inclusief slaap, voeding, beweging, stressmanagement, ontspanning, mindset en gedragsverandering. <br><br>
                Zo help ik medewerkers duurzame, gezonde keuzes te maken die bijdragen aan hun welzijn én aan hun inzetbaarheid. Met mijn ondersteuning help ik medewerkers om weer in balans te komen, wat niet alleen hun welzijn ten goede komt, maar ook de algehele sfeer en productiviteit op de werkvloer verbetert. <br><br>
                Daarnaast zorgt aandacht voor vitaliteit voor een beter werkklimaat en minder verloop. Neem contact met me op en ontdek hoe ik jouw team kan helpen naar een gezondere en vitalere werkplek!
                </p>
        </div> 
    </div>
    <section class="elementor-section">
        <div class="elementor-container">
                <h1 class="elementor-section-title">Wat is mijn aanpak?</h1>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-user-md"></i></div>
                </div>
                <h2 class="elementor-heading-title">Persoonlijke begeleiding</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-object-group"></i></div>
                </div>
                <h2 class="elementor-heading-title">Deskundig maatwerk</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-comments"></i></div>
                </div>
                <h2 class="elementor-heading-title">Duidelijke communicatie</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-puzzle-piece"></i></div>
                </div>
                <h2 class="elementor-heading-title">Sterk in praktische oplossingen</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-bullseye"></i></div>
                </div>
                <h2 class="elementor-heading-title">Doortastend en direct</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-lightbulb"></i></div>
                </div>
                <h2 class="elementor-heading-title">Inventief meedenken met klant</h2>
            </div>
        </div>
    </section>
    <div class="container-Vitaliteit">
        <div class="image-Vitaliteit">
            <img src="{% static 'IM/Yvofit-Klein-6.jpg' %}" alt="Yvofit Klein">
        </div>
        <div class="text-Vitaliteit">
            <h2>Vitaliteitstrainingen voor groepen</h2>
            <h1>Medewerkers hebben zélf de sleutel in handen</h1>
            <p>Medewerkers hebben zélf de sleutel in handen Zijn jouw medewerkers zich niet bewust van het belang van vitaliteit? Of nemen ze hierin geen eigen regie? <br><br> 
                Zet dan in op Vitaliteitstrainingen en vergroot de bewustwording van vitaliteit. De levensvatbaarheid van een bedrijf hangt nauw samen met de levenskracht van de medewerkers.              
                </p>
            <h2>Hoe ga ik te werk?</h2>
            <p>Medewerkers inzicht geven in de fysieke, emotionele en mentale knoppen.
                Met mijn trainingen geef ik medewerkers inzicht in de fysieke, emotionele en mentale knoppen waaraan je kan draaien om de vitaliteit te verbeteren. <br><br> 
                Aan hoe meer knoppen je draait, hoe groter de impact. Na het volgen van vitaliteitstrainingen hebben medewerkers het besef dat zij zélf de sleutel in handen hebben om hun vitaliteit te verbeteren. En weten ze welke acties ze kunnen ondernemen. <br><br>  
                Zo zorgen we dat zij de energie, motivatie en veerkracht hebben om alles uit hun persoonlijke kwaliteiten te halen. Ik geef workshops op maat en naar behoefte. <br><br>  
                Denk aan workshops over werkdruk/stress en hoe hier mee om te gaan, slapen waarom is dit essentieel voor je welzijn? Voeding; de juiste brandstof tanken, onregelmatig werken, werkende ouder enz. enz. 
            </p>    
        </div> 
    </div>
    <section class="main-content">
        <h1><i aria-hidden="true" class="fas fa-bullhorn"></i>Nieuwsgierig geworden wat ik voor jouw bedrijf en medewerkers kan betekenen?</h1>
    </section>
    <div class="container_contact">
        <div class="container_contact_inner">
            <div class="left_section">
                <ul>
                    <li><a class="nav-link" href="{% url 'base_view' %}">HOME</a></li>
                    <li><a class="nav-link" href="{% url 'about_view' %}">DIENSTEN</a></li>
                    <li><a class="nav-link" href="{% url 'blog_view' %}">BLOG</a></li>
                    <li><a class="nav-link" href="{% url 'contact_view' %}">CONTACT</a></li>
                </ul>
            </div>
            <div class="middle_section">
                <h2>Diensten</h2>
                <ul>
                    <li><a class="nav-link" href="{% url 'about_view' %}">VITALE WERKOMGEVING!</a></li>
                    <li><a class="nav-link" href="{% url 'about_view' %}">PERSOONLIJKE COACHING MEDEWERKERS</a></li>
                    <li><a class="nav-link" href="{% url 'about_view' %}">VITALITEITS TRAININGEN VOOR GROEPEN</a></li>
                </ul>
            </div>
            <div class="right_section">
                <h2><i aria-hidden="true" class="fas fa-phone-alt"></i>0499-396985</h2>
                <h2><i aria-hidden="true" class="fas fa-phone-alt"></i>06-10792050</h2>
                <h2>
                    <a href="mailto:yvofit5@outlook.com"><i class="far fa-envelope"></i> yvofit5@outlook.com</a>
                </h2>
                <div class="social_media_section">
                    <p>VOLG YVOFIT OP SOCIAL MEDIA</p>
                    <ul>
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-youtube"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>  
                </div>
            </div>
        </div>
    </div>           
</body>
</html>
