<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yvovit | Uw Leefstijl Coach</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CS/About_styles.css' %}">    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'IM/Logo.jpg' %}" alt="Yvonne Aaldering" class="yvofit-logo">
            </div>
            <ul class="nav-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">OVER MIJ</a></li>
                <li><a href="#">DIENSTEN</a></li>
                <li><a href="#">THEMA'S</a></li>
                <li><a href="#">VITALITEIT CHECK</a></li>
                <li><a href="#">NIEUWS</a></li>
                <li><a href="#" class="contact-btn">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-about">
        <div class="text-section">
            <h2>Over mij</h2>
            <h1>Ik ben Yvonne Aaldering, uw leefstijlcoach!</h1>
            <p>Als leefstijlcoach help ik mensen graag stap voor stap naar een gezondere leefstijl. Daarbij lever ik maatwerk en kijken we bewust naar haalbare doelen op het gebied van voeding, beweging, stress, slaap of ontspanning.</p>
        </div>
        <div class="image-section">
            <img src="{% static 'IM/Yvofit-Transparant.png' %}" alt="Yvonne Transparant" class="yvofit-Transparant">
        </div>
    </div>
    <div class="elementor-widget-container">
        <h2>Dagelijks houd ik me bezig met het coachen, motiveren, trainen en begeleiden van mensen om zo het beste resultaat te behalen.</h2>
    </div> 

    <div class="container-intrigeren">
        <div class="image-intrigeren">
            <img src="{% static 'IM/Yvofit-Klein.jpg' %}" alt="Yvofit Klein" class="Yvofit-Klein">
        </div>
        <div class="text-intrigeren">
            <h2>Mensen intrigeren mij</h2>
            <h1>Van jongs af aan ben ik een mensen mens geweest</h1>
            <p>Waarom iemand iets zegt of doet. Waardoor of waarom iemand bepaalde keuzes wel of juist niet maakt. Hoe iemand bewogen wordt door het leven. Daarnaast heeft gezondheid en gezonde leefstijl altijd mijn interesse gehad. Ik heb dit met de paplepel ingegoten gekregen. Mijn moeder was altijd bezig met gezonde voeding, had daarvoor een eigen moestuintje. Zij was nooit een voorstander van medicatie, wilde het liever met natuurlijke middelen en voeding oplossen. En deze visie hanteer ik ook. Vanwege mijn passie om mensen te ondersteunen in een gezonde leefstijl, ben ik in oktober 2003 een eigen praktijk voor voeding en gezonde leefstijl gestart. Toen de kinderen zelfstandig naar school konden ben ik me gaan richten op bedrijven en een gezond werkklimaat. </p>
        </div> 
    </div>
    <section class="elementor-section">
        <div class="elementor-container">
                <h1 class="elementor-section-title">Wat is mijn aanpak?</h1>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-user-md"></i></div>
                </div>
                <h2 class="elementor-heading-title">Persoonlijke begeleiding</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-object-group"></i></div>
                </div>
                <h2 class="elementor-heading-title">Deskundig maatwerk</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-comments"></i></div>
                </div>
                <h2 class="elementor-heading-title">Duidelijke communicatie</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-puzzle-piece"></i></div>
                </div>
                <h2 class="elementor-heading-title">Sterk in praktische oplossingen</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-bullseye"></i></div>
                </div>
                <h2 class="elementor-heading-title">Doortastend en direct</h2>
            </div>
            <div class="elementor-column">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i class="fas fa-lightbulb"></i></div>
                </div>
                <h2 class="elementor-heading-title">Inventief meedenken met klant</h2>
            </div>
        </div>
    </section>
    <section class="main-content">
        <h1><i aria-hidden="true" class="fas fa-bullhorn"></i>Nieuwsgierig geworden wat ik voor jouw bedrijf en medewerkers kan betekenen?</h1>
    </section>
    <section class="contact-section">
        <div class="contact-info">
            <h1>Ja!</h1>
            <h2>Neem dan contact op voor de mogelijkheden</h2>
            <p>Ik neem zo spoedig mogelijk contact op en we bespreken de wensen en mogelijkheden, alles is mogelijk.</p>
        </div>
        <form action="#">
            <div class="form-group">
                <label for="name">Naam *</label>
                <input type="text" id="name" required>
            </div>
            <div class="form-group">
                <label for="phone">Telefoon nr. *</label>
                <input type="tel" id="phone" required>
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="message">Bericht *</label>
                <textarea id="message" required></textarea>
            </div>
            <button type="submit">Versturen</button>
        </form>
    </section>            
</body>
</html>
