@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo {
    flex-shrink: 0;
}

header .logo img {
    margin-top: 1%;
    width: 10%;
    height: auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 1%;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px 10px;
}

.nav-menu li a:hover {
    color: #28b487;
}

.contact-btn {
    background-color: #28b487;;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}


.appointment-btn {
    background-color: #28b487;
    color: white;
    padding: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px; 
    width: 180px;
}

button.appointment-btn:hover {
    background-color: #2bcca0;
}

.yvofit-logo {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 175px; 
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 40%; 
    background-color: #f4c380;
    box-sizing: border-box; 
    width: 100%; 
}

.left-section {
    width: 55%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-left: 7.5%;
    margin-top: 7.5%;
    padding-left: 0; 
}

.right-section {
    width: 55%;
    text-align: left;
    margin-top: 5%;
    margin-left: 1%;
    
}

.left-section h2 {
    font-family: 'Pacifico', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.small-text {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.coach-image {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin-top: 40px;
}

.signature {
    width: 150px;
    margin-top: 20px;
}

.container_scroll .h2 {
    font-family: 'Pacifico', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    
}

.right-section h3 {
    font-family: "Crimson Pro", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.5; 
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    width: 80%;
}

.right-section_mij p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
}
.yvonne-image {
    width: 80%; 
    margin-bottom: 0%;   
}

.container_scroll {
    justify-content: space-between;
    padding: 50px 10%;
    margin-top: 1%;
    width: 95%;
    margin-left: -10%;
}

.Big_text_scroll {
    font-family: "Crimson Pro", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 73px;
    color: rgb(0, 0, 0);
    margin: -42px 440px 0 440px; 
    margin-top: 120px;
}

.container_mij {
    display: flex;
    justify-content: flex-start; 
    padding: 200px 10%;
    background-color: #fff;
    width: 100%;
    gap: -40px; 
    background-color: #fff;
    
}

.left-section_mij {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
    background-color: #fff;
}

.right-section_mij {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    margin-right: 20%; 
}

.yvofit-fruitschaal {
    margin-top: 375px; 
    width: 95%; 
    margin-bottom: 20px; 
    border-radius: 14px; 
}

.zwembad-dolfijn {
    width: 80%; 
    margin-bottom: 20px; 
    border-radius: 14px; 
    margin-left: 40px; 
}

.title-overmij {
    font-family: 'Pacifico', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 24px;
    line-height: 36px;
}

.subtitle-overmij {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 48px;
    line-height: 67px;
}

.mij-text {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;     
}

.mij-btn {
    background-color: #32E3B4;
    color: black;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    width: fit-content;
    margin-left: 1%;
}

.yvofit-bank{
    width: 100%;
}

.card {
    background-color: #4ca686; 
    width: 70%;
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
    font-family: 'Arial', sans-serif; 
    margin-top: -200px;
}

.card h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.card p {
    color: #f8f8f8;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.card .button {
    display: inline-block;
    padding: 12px 24px;
    color: #4ca686;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card .button:hover {
    background-color: #f0f0f0;
    color: #4ca686;
}

.card .indicator {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.reviews {
    text-align: center;
    padding: 50px 0;
}

.reviews h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    color: #000;
}

.reviews h3 {
    font-size: 24px;
    margin-bottom: 40px;
    color: #333;
}

.review-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.review {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.review h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #b5651d;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.quote {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: left;
}

.quote-icon {
    font-size: 24px;
    color: #f1c40f;
}

.emoji {
    font-size: 20px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
}

.footer p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.Reviews_qoutes h2 {
    font-family: Pacifico, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0); 
    font-size: 24px;
    line-height: 36px;
    margin-left: 20%;
    margin-top: 2%;
}
.Reviews_qoutes h1 {
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0); 
    font-size: 48px;
    line-height: 62px;
    margin-left: 20%;
}

.container_reviews {
    display: flex;
    max-width: 100%;
}

.left_section_reviews{
    margin-left: 20%;
    max-width: 25%;
}

.right_section_reviews{
    margin-left: 3%;
    max-width: 25%;
}

.right_section_reviews h2{
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(204, 195, 194);
    font-size: 42px;
    line-height: 55px;
}

.left_section_reviews h2{
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(204, 195, 194);
    font-size: 42px;
    line-height: 55px;
}

.right_section_reviews p{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
}

.left_section_reviews p{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
}
.fas.fa-quote-right {  
    font-size: 25px;  
    color: #F4C37E;    
    margin-right: 1%; 
}
.hr-lines:after {
    content: " ";
    height: 2px;
    width: 130px;
    background: rgb(204, 195, 194);
    display: block;
}

.footer-text {
    text-align: center;
    margin: 40px;
    font-size: 16px;
    color: #333;
}

.container_evaring {    
    background-color: #504538;
    width: 100%;
    display: flex;
}

.container_pijnpunten {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: 10%;
    /* background-color: #f4c380; */
    padding-bottom: 10%;
}

.content_pijnpunten {
    max-width: 50%;
    margin-left: 15%;
}

.content_pijnpunten h1 {
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 48px;
    line-height: 67px;
}

.approach-list_pijnpunten {
    list-style-type: none;
}

.approach-list_pijnpunten li {
    display: flex;
    align-items: start;
    margin-bottom: 15px;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
}

.approach-list_pijnpunten li::before {
    content: '●';
    color: #00c18d;
    font-size: 1.5rem;
    line-height: 1;
}

.image_pijnpunten img {
    width: 75%;
    border-radius: 5%;
    object-fit: cover;
    margin-top: 15%;
    margin-left: 7.5%;
}

.container_contact {
    width: 100%;  
    background-color: #504538;
    color: #ffffff;
    padding-top: 2%;
}
.container_contact_inner{
    margin-left: 20%;
    display: flex;
}

.left_section, .middle_section, .right_section {
    margin-right: 10%;
}

.left_section a {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 18px;
    line-height: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: underline;
}

.middle_section h2 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 38px;
    line-height: 38px;
    margin-top: 2%;
}

.middle_section ul li {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(106, 218, 180);
    font-size: 16px;
    line-height: 30px;
}

.social_media_section ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.social_media_section ul li {
    margin-right: 15px;
}

.fa-facebook, .fa-instagram, .fa-youtube, .fa-linkedin {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #68C6B8; 
    border-radius: 50%; 
    color: black;
}

.fas.fa-phone-alt {  
    font-size: 25px;  
    color: #6ADAB4;    
    margin-right: 2%; 
}

.far.fa-envelope {  
    font-size: 25px;  
    color: #6ADAB4;    
}

.right_section {
    font-family: "Crimson Pro", sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    line-height: 25px; 
    color: rgb(255, 255, 255);
}

.right_section a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

.right_section a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline; 
}
@media (max-width: 1050px) {
    .container_scroll {
        justify-content: space-between;
        padding: 50px 10%;
        margin-top: 1%;
        width: 150%;
        margin-left: -35%;
    }
    .container_scroll .h2 {
        font-family: 'Pacifico', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: rgb(80, 69, 56);
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .left-section_mij {
        width: 400%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 20px;
        background-color: #fff;
    }
    .right-section_mij {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        margin-right: 20%; 
    }
    
}
@media (max-width: 850px) {
    .container {
        display: flex;
        justify-content: space-between;
        background-color: #f4c380;
        box-sizing: border-box; 
        width: 110%; 
    }
    .left-section {
        width: 60%; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        margin-top: 7.5%;
        margin-left: 0px;

    }
    .left-section h2 {
        font-family: 'Pacifico', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: rgb(80, 69, 56);
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    
    .left-section p {
        font-size: 12px;
        line-height: 1.6;
        margin-bottom: 20px;
        color: #333;
    }
    .right-section h3 {
        font-family: "Crimson Pro", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 1.5; 
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
        width: 80%;
    }
    .right-section {
        width: 50%;
        text-align: left;
        margin-top: 5%;      
    }
    .yvonne-image {
        width: 85%;   
    }
    header {
        background-color: #fff;
        padding: 2%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    
    header .logo {
        flex-shrink: 0;
        margin-right: 5px;
    }
    
    header .logo img {
        width: auto;
        height: 40px;
        margin-top: 0;
    }
    
    header nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding-left: 0;
    }
    
    .nav-menu {
        display: flex;
        list-style: none;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        padding-left: 40%;
    }
    
    .nav-menu li {
        margin-right: 15px;
    }
    
    .nav-menu li:first-child {
        margin-left: 0;
    }
    
    .nav-menu li a {
        text-decoration: none;
        color: #000;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        padding: 0;
    }
    
    .nav-menu li a:hover {
        color: #28b487;
    }
    
    .contact-btn {
        background-color: #28b487;
        color: white;
        padding: 8px 15px;
        border-radius: 20px;
        text-transform: uppercase;
        margin-left: 10px;
    }
    .container_scroll {
        margin-top: 1%;
        width: 100%;
        margin-left: -450px;
    }
    .Big_text_scroll {
        font-family: "Crimson Pro", sans-serif;
        font-weight: 400;
        font-size: 52px;
        line-height: 73px;
        color: rgb(0, 0, 0);
        margin-top: 120px;
    }
        .container_mij {
        display: flex;
        justify-content: flex-start; 
        padding: 200px 10%;
        background-color: #fff;
        width: 100%;
        gap: -40px; 
        background-color: #fff;
        
    }
    
    .left-section_mij {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 20px;
        background-color: #fff;
    }
    
    .right-section_mij {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        margin-right: 20%; 
    }
    .subtitle-overmij {
        font-family: 'Crimson Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-size: 38px;
        line-height: 67px;
    }
    .yvofit-bank{
        width: 110%;
    }
    .card {
        background-color: #4ca686; 
        width: 60%;
        max-width: 900px;
        margin: 50px auto;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        text-align: left;
        font-family: 'Arial', sans-serif; 
        margin-top: -50px;
        margin-left: 10%;
    }
    
    .card h1 {
        color: #fff;
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .card p {
        color: #f8f8f8;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    
    .card .button {
        display: inline-block;
        padding: 12px 24px;
        color: #4ca686;
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .card .button:hover {
        background-color: #f0f0f0;
        color: #4ca686;
    }
    
    .card .indicator {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 8px;
    }
    .approach-list_pijnpunten li::before {
        content: '.';
        color: #00c18d;
        font-size: 5rem;
        line-height: 1;
        margin-top: -45px; 
    }
    .container_reviews {
        display: flex;
        max-width: 90%;
    }
    
    .left_section_reviews{
        margin-left: 10%;
        max-width: 25%;
    }
    
    .right_section_reviews{
        margin-left: 35%;
        max-width: 25%;
    }
    .right_section_reviews h2{
        font-family: "Crimson Pro", sans-serif;
        font-style: normal;
        font-weight: 600;
        color: rgb(204, 195, 194);
        font-size: 25px;
        line-height: 55px;
    }
    
    .left_section_reviews h2{
        font-family: "Crimson Pro", sans-serif;
        font-style: normal;
        font-weight: 600;
        color: rgb(204, 195, 194);
        font-size: 25px;
        line-height: 55px;
    }
    .container_contact {
        width: 130%;  
        background-color: #504538;
        color: #ffffff;
        padding-top: 2%;
    }
    .container_contact_inner{
        display: inline; 
    }

    .left_section, .middle_section, .right_section {
        margin-left: 5%;
    }

    .left_section a {
        font-family: 'Crimson Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        color: rgb(255, 255, 255); 
        font-size: 18px;
        line-height: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 10px;
    }

    ul li a {
        text-decoration: none;
        color: white;
    }

    ul li a:hover {
        text-decoration: underline;
    }

    .middle_section h2 {
        font-family: 'Crimson Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        color: rgb(255, 255, 255); 
        font-size: 38px;
        line-height: 38px;
        margin-top: 2%;
    }

    .middle_section ul li {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: rgb(106, 218, 180);
        font-size: 16px;
        line-height: 30px;
    }

    .social_media_section ul {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    .social_media_section ul li {
        margin-right: 15px;
    }

    .fa-facebook, .fa-instagram, .fa-youtube, .fa-linkedin {  
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 25px;
        width: 10px;
        height: 10px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        background: #68C6B8; 
        border-radius: 50%; 
        color: black;
    }

    .fas.fa-phone-alt {  
        font-size: 25px;  
        color: #6ADAB4;    
        margin-right: 2%; 
    }

    .far.fa-envelope {  
        font-size: 25px;  
        color: #6ADAB4;    
    }

    .right_section {
        font-family: "Crimson Pro", sans-serif; 
        font-weight: 600; 
        font-size: 20px; 
        line-height: 25px; 
        color: rgb(255, 255, 255);
    }

    .right_section a {
        color: rgb(255, 255, 255);
        text-decoration: none; 
    }

    .right_section a:hover {
        color: rgb(255, 255, 255);
        text-decoration: underline; 
    }
}