@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo {
    flex-shrink: 0;
}

header .logo img {
    margin-top: 1%;
    width: 10%;
    height: auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px 10px;
}

.nav-menu li a:hover {
    color: #28b487;
}

.contact-btn {
    background-color: #28b487;;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: #F4C37E;
}


.appointment-btn {
    background-color: #28b487;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
}

.yvofit-logo {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 175px; 
    height: auto;
}
.nav-menu{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    padding: 1%;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: #F4C37E;
}

.appointment-btn {
    background-color: #28b487;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
}

.yvofit-logo {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 175px; 
    height: auto;
}
.nav-menu{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(0, 0, 0); 
    font-size: 16px;
    line-height: 20px;
    padding: 1%;
}
.container-about {
    background-color: #F4C37E;
    display: flex;
    justify-content: space-between;
    height: 813px;
    width: 100%;
  }
    
.text-section h2 {
    font-family: 'sans-serif', Pacifico;
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 24px;
    line-height: 36px;
    margin-top: 13.5%; 
    margin-left: 22.5%;
  }
  
.text-section h1 {
    font-family: 'Crimson Pro';
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 96px;
    line-height: 96px;
    margin-top: -0.2%; 
    margin-left: 22.5%;
    max-width: 40%;
  }
  
.text-section p {
    font-family: 'Work Sans';
    font-weight: 400;
    color: rgb(80, 69, 56);
    font-size: 18px;
    line-height: 33px;
    margin-top: -0.2%; 
    margin-left: 22.5%;
    max-width: 52%;
  }
  
button:hover {
    background-color: #2BB3A5;
  }
  
.image-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} 

.image-section img {
    width: 100%; 
    height: auto; 
}

.container_card {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section_card {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}


.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #666;
}

.text-header h2 {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 19%;
    width: 60%;
    font-family: "Crimson Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 56px;
    line-height: 56px;
}

.card-date {
    font-size: 14px;
    color: #333333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.card-date::before {
    content: '\1F4C5';
    font-size: 16px;
    color: #333333;
    margin-right: 5px;
}


.container_contact {
    width: 100%;  
    background-color: #504538;
    color: #ffffff;
    padding-top: 2%;
    margin-top: 5%;
}
.container_contact_inner{
    margin-left: 20%;
    display: flex;
}

.left_section, .middle_section, .right_section {
    margin-right: 10%;
}

.left_section a {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 18px;
    line-height: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: underline;
}

.middle_section h2 {
    font-family: 'Crimson Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    font-size: 38px;
    line-height: 38px;
    margin-top: 2%;
}

.middle_section ul li {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(106, 218, 180);
    font-size: 16px;
    line-height: 30px;
}

.social_media_section ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.social_media_section ul li {
    margin-right: 15px;
}



.fa-facebook, .fa-instagram, .fa-youtube, .fa-linkedin {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #68C6B8; 
    border-radius: 50%; 
    color: black;
}
.fas.fa-phone-alt {  
    font-size: 25px;  
    color: #6ADAB4;    
    margin-right: 2%; 
}
.far.fa-envelope {  
    font-size: 25px;  
    color: #6ADAB4;    
}
.right_section {
    font-family: "Crimson Pro", sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    line-height: 25px; 
    color: rgb(255, 255, 255);
}
.right_section a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

.right_section a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline; 
}
@media (max-width: 850px) {
    header {
        background-color: #fff;
        padding: 2%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    
    header .logo {
        flex-shrink: 0;
        margin-right: 5px;
    }
    
    header .logo img {
        width: auto;
        height: 30px;
        margin-top: 1%;
    }
    
    header nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding-left: 0;
    }
    
    .nav-menu {
        display: flex;
        list-style: none;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        color: rgb(0, 0, 0);
        font-size: 13px;
        line-height: 20px;
        margin: 0;
        padding-left: 40%;
    }
    
    .nav-menu li {
        margin-right: 11px;
    }
    
    .nav-menu li:first-child {
        margin-left: 0;
    }
    
    .nav-menu li a {
        text-decoration: none;
        color: #000;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        padding: 0;
    }
    
    .nav-menu li a:hover {
        color: #28b487;
    }
    
    .contact-btn {
        background-color: #28b487;
        color: white;
        padding: 8px 15px;
        border-radius: 20px;
        text-transform: uppercase;
        margin-left: 10px;
    }
    .container_contact {
        width: 100%;  
        background-color: #504538;
        color: #ffffff;
        padding-top: 2%;
    }
    .container_contact_inner{
        display: inline; 
    }

    .left_section, .middle_section, .right_section {
        margin-left: 20%;
    }

    .left_section a {
        font-family: 'Crimson Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        color: rgb(255, 255, 255); 
        font-size: 18px;
        line-height: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 10px;
    }

    ul li a {
        text-decoration: none;
        color: white;
    }

    ul li a:hover {
        text-decoration: underline;
    }

    .middle_section h2 {
        font-family: 'Crimson Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        color: rgb(255, 255, 255); 
        font-size: 38px;
        line-height: 38px;
        margin-top: 2%;
    }

    .middle_section ul li {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: rgb(106, 218, 180);
        font-size: 16px;
        line-height: 30px;
    }

    .social_media_section ul {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    .social_media_section ul li {
        margin-right: 15px;
    }

    .fa-facebook, .fa-instagram, .fa-youtube, .fa-linkedin {  
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 25px;
        width: 10px;
        height: 10px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        background: #68C6B8; 
        border-radius: 50%; 
        color: black;
    }

    .fas.fa-phone-alt {  
        font-size: 25px;  
        color: #6ADAB4;    
        margin-right: 2%; 
    }

    .far.fa-envelope {  
        font-size: 25px;  
        color: #6ADAB4;    
    }

    .right_section {
        font-family: "Crimson Pro", sans-serif; 
        font-weight: 600; 
        font-size: 20px; 
        line-height: 25px; 
        color: rgb(255, 255, 255);
    }

    .right_section a {
        color: rgb(255, 255, 255);
        text-decoration: none; 
    }

    .right_section a:hover {
        color: rgb(255, 255, 255);
        text-decoration: underline; 
    }
    .container-about {
        background-color: #F4C37E;
        display: flex;
        justify-content: space-between;
        height: 813px;
        width: 100%;
    }
        
    .text-section h2 {
        font-family: 'sans-serif', Pacifico;
        font-weight: 400;
        color: rgb(80, 69, 56);
        font-size: 24px;
        line-height: 36px;
        margin-top: 30%; 
        margin-left: 5%;
    }
      
    .text-section h1 {
        font-family: 'Crimson Pro';
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-size: 40px;
        line-height: 40px;
        margin-top: -0.2%; 
        margin-left: 5%;
        max-width: 40%;
    }
      
    .text-section p {
        font-family: 'Work Sans';
        font-weight: 400;
        color: rgb(80, 69, 56);
        font-size: 18px;
        line-height: 33px;
        margin-top: -0.2%; 
        margin-left: 5%;
        max-width: 52%;
    }
    .image-section img {
        width: 250%; 
        height: auto; 
    }
    .text-header h2 {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 19%;
        width: 60%;
        font-family: "Crimson Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-size: 35px;
        line-height: 35px;
    }
    .row {
        display: inline;
        flex-wrap: wrap;
        gap: 20px;
    }
    .card {
        margin-top: 10%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }
}